{% extends "base.html" %}

{% block content %}
    <div class="screen" id="chats-screen">
        <div class="chats-container">
            <div class="chats-list">
                <header>
                    <span class="text chat-text">My Chats</span>
                </header>
                <div class="list-contents">
                    <div class="search">
                        <input type="text" placeholder="Enter name to search...">
                        <button><i class='bx bx-search'></i></button>
                    </div>
                    {% for friend in friends %}
                        <a href="#" class="friend-link" data-friend-id="{{ friend.id }}">
                            <div class="content">
                                <img src="{{ friend.profile_pic }}" alt="">
                                <div class="details">
                                    <span>{{ friend.username }}</span>
                                </div>
                            </div>
                            <div class="messages-dot">
                                <i class='bx bxs-circle'></i>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="chat-window">
                <header>
                    <span class="text">Chat Area</span>
                </header>
                <div class="chat-box">
                    <div class="chat outgoing">
                        <div class="details">
                            <p>This is an outgoing message can we try to make it longer</p>
                        </div>
                    </div>
                    <div class="chat incoming">
                        <div class="details">
                            <p>This is an incoming message</p>
                        </div>
                    </div>
                    <div action="#" class="typing-area">
                        <input type="text" name="message" class="input-field" placeholder="Type a message here..." autocomplete="off">
                        <button><i class='bx bxl-telegram'></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}